#institutionalBranding {
	color:white;
	font-size:1.2em;
	padding-top:5px;
	padding-left:5px;
	font-family:verdana;
}

#content {
	position:relative;
	border:1px solid;
	border-radius:6px;
	-moz-border-radius:6px; /* Firefox 3.6 and earlier */
	box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 6px 6px 6px #888888; /* Safari */
	left:5px;
	top:0px;
	height:80%;
	width:97%;
	background:url(images/signal_splash_bg.png);
	background-repeat: repeat;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:6px;
	padding-top:6px;
	overflow:hidden;
}

#leftpane{
	border:1px solid;
	left:20px;
	bottom:2px;
	width:68%;
	float:left;
	height:96%;
	padding-left:5px;
	border-radius:5px;
	background-color:white;
	padding-top: 13px;
}

#rightpane {
	position:relative;
	float:right;
	border:1px solid;
	width:30%;
	height:98.5%;
	border-radius:5px;
	padding-left:8px;
	background-color:white;	
}

.title {
	font-weight:bold;
}

#verificationlinks {
	height:40%;
	padding-top: 13px;
}

#ssoverificationlink {
	height:40%;
	padding-top: 13px;
}

#pagecontent {
	background-color:white;
	border:1px solid;
	border-radius:5px;
	height:96%;
	padding-left:5px;
	padding-top: 13px;
	margin-top: 1px;
	margin-bottom: 1px;
}

#inbconfigtable {
	border:0px solid;
	border-radius:5px;
	height:80%;
	width:97%;
	padding-left:30px;
}

#inbconfigtable .text {
	font-weight:bold;
	font-size:.8em;
	font-family:verdana;
}

#pwdPromptDiv {
	margin: 0 auto;
	border-radius:5px;
	height:50%;
	width:50%;
}

#pwdPromptTbl {	
}

#pwdPromptTbl #tdMsg {
	text-align: left;
}

#pwdPromptTbl #trCntr {
	text-align: center;
	font-weight:bold;
	font-size:.8em;
	font-family:verdana;
}

#pwdPolicy #tdMsg{
	width: 300px;
}

#pwdPolicy .text {
	font-weight:bold;
	font-size:.8em;
	font-family:verdana;
}

#buttonbar {
	border:0px solid;
	float:right;
	padding-right:50px;
}

#ssbconfig {
	border:0px solid;
	border-radius:5px;
	height:80%;
	width:97%;
	overflow:auto;
	padding-left:30px;
}

#ssbconfig .text {
	font-weight:bold;
}

.actionBut{
	width:77px;
	height:31px;
	background: url(images/button.png) no-repeat;
	border:0px;
	font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#FFFFFF; line-height:31px; text-align:center;
	float:right; cursor:pointer;  
}

#authconfig {
	display:none;
}

.alertText {
	color: red;
	font-size: 12px;
	font-weight: bold;
}

.appConfigTbl {
}

#tblGateway {
	/*border-collapse: collapse;*/
}

#gatewayDiv
{
	float:left;	
}

#toleranceDiv
{
	padding-right: 25%;
	float:right;	
}

#configDiv
{
	margin: 0px;
	padding: 0px;
}

.noteText {
	color: blue;
	font-size: 12px;
	font-weight: bold;
}

.buildInfo{
padding-top:10px;
position:relative;
font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000;
}
