@inherits LayoutComponentBase

<span>Top Row</span>
<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<script>
    $('#dropdownMenuButton').on('click', function () {
        console.log('dropdownMenuButton clicked');
    });
</script>


@code {

    protected override async Task OnInitializedAsync()
    {
        @* This delays the loading of the page *@

        @* await Task.Delay(1000); *@
        @* Console.WriteLine("Top Row Initialized"); *@
    }

}
