@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@* <h1>Hello, world!</h1>

Welcome to your new app. *@

@* As long as there's only one instance of the html id on the page at any given time, javascript works as expected.  However as with this counter example, if there are multiople instances of the same component, the javascript only works on the first instance, as for this example the button seems to click twice.  Assuming that's once before instance *@
@* <Counter></Counter>

<br>
<br>

<Counter></Counter>

<br>
<br> *@

@* this third instance proves that it's directly tied to the number of instances of the same component on the same page at the given point in time that the button is clicked. *@

@* <Counter></Counter> *@

@* starting new table to test mudblazor *@

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Tab One">
        <MudText>Content One</MudText>
        <Counter></Counter>
    </MudTabPanel>
    <MudTabPanel Text="Tab Two">
        <MudText>Content Two</MudText>
        <Weather></Weather>
    </MudTabPanel>
    <MudTabPanel Text="Tab Three">
        <MudText>Content Three</MudText>
        <Mud></Mud>
    </MudTabPanel>
    <MudTabPanel Text="Tab Four">
        <MudText>Content Four</MudText>
        <Table></Table>
    </MudTabPanel>
</MudTabs>

