@page
@model IndexModel
<!-- Add the following line to the top of the file -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Render the component <Hello /> and pass in a parameter called "name" with a value of "ASP.NET" -->
    <component type="typeof(basic_example.Components.Hello)" render-mode="ServerPrerendered" />
</div>
