@page "/DisappearingAct"

<PageTitle>DisappearingAct</PageTitle>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleDisabled">@DiableButtonText</MudButton>

<br/>
<br/>

@if (!_isDisabled)
{
    <div>
        <Tab />
    </div>
}
@code {
    private bool _isDisabled = true;
    private string DiableButtonText { get; set; } = "Enable";

    private void ToggleDisabled()
    {
        _isDisabled = !_isDisabled;
        DiableButtonText = _isDisabled ? "Enable" : "Disable";
        StateHasChanged();
    }
}