@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row" style="padding: 20px;">
        <BlazorApp.Client.Pages.Quicklinks />
    </div>
    <div class="row">
        <div class="col col-sm">
            <Profile />
        </div>

        <div class="col col-lg">
            <BlazorApp.Client.Pages.DisappearingAct />
            <BlazorApp.Client.Pages.DisappearingAct _isDisabled=false />
            <BlazorApp.Client.Pages.Quicklinks2 />
        </div>
    </div>
</div>
