@page "/index"


<div class="container-fluid">
    <div class="row">
        <div class="col card-container">
            <QuickLinks />
        </div>
    </div>
    <div class="row">
        <div class="card-container col-lg-3">
            <Profile />
        </div>
        <div class="card-container col-lg-9">
            <EmployeeTab />
            <StudentSupportTab />
            <CampusNewsTab />
            <CampusResourceTab />
            <WorkLifeTab />
        </div>
    </div>
</div>

<div>

</div>


@code {

}