.cssmenu ul {
	list-style:none;
}
.cssmenu li {
	display:inline;
	padding:2px;
}

#globalmenu a {
	text-decoration:none;
	font-weight:bold;
	color:white;
}

#globalmenu {
	position:absolute;
	top:45px;
	border-radius:5px;
	width:98%;
	left:5px;
	height:25px;
	font-weight:bold;
	font-size:.7em;
	font-family:verdana;
	padding-left:10px;
	line-height:25px;
	background: url("images/header-button-sprites.png") repeat-x scroll 0 -24px transparent;


}
/*
.tabs-nav li {
    background: url("images/common-ui-tab-separator.png") no-repeat scroll right bottom transparent;
    display: block;
    float: left;
	padding:4px;
}

.tabs-nav a {
    text-decoration: none;
}

.tabs-nav {
    float: left;  
	position:absolute;
	top:30px;  
	border:0px solid;

}

.tabs-nav li.tabs-selected {
    background: url("images/common-ui-tab-left.png") no-repeat scroll left top transparent;
}

.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:active, .tabs-nav .tabs-selected a:visited {
    background: url("images/common-ui-tab-center.png") repeat-x scroll left top transparent;
    color: #003366;
    display: block;
    height: 23px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
}


.selectedmenu {
	border-bottom-image: url("images/selected_item.png") no-repeat;
}

*/

#menu1 {
  position:absolute;
  top:52px;
  border-bottom: 0px solid #202050;

}
#menu1 ul {
  width: 100%;
  /* width: 64em; */
  margin: 0 21% 0 4%;
  /* margin: 0 auto; */
  padding: 4px 4px;
  font-family: Verdana,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12px;
  /* line-height: normal; */
}
#menu1 ul li {
  margin: 2;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  display: inline;
}
#menu1 ul li a {
  /*
   *border-style: solid solid none;
   *border-width: 1px 1px medium;
   *border-color: #222277;
   */
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;

  
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; 
  padding: 5px 0.4em;
  margin-left: 0px;
  text-decoration: none;  
  color: #000000;

}


#menu1 ul li a.active {
  background-color: white;
}
#menu1 ul li a:link {
  color: #FFFFFF;
}
#menu1 ul li a:visited {
  color: #FFFFFF;
}


/*#menu1 ul li a:hover {
  background: #ddddee none repeat scroll 0%;
  border-color: #777788 #777788;
}*/


#menu1 ul li a:hover { 
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  padding: 5px 0.4em;
  margin-left: 0px;
  text-decoration: none;
  /*background: #9BC9E5 none repeat scroll 0%;
  color: #000000;*/
  text-decoration: underline;
} 

.selectedmenu {  

  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  padding: 5px 0.5em;
  margin-left: 0px;
  text-decoration: none;
  background: #0B3861 none repeat scroll 0%;

}

