@page "/maintenance"

<h1>Hello, world!</h1>

<p>
    Welcome to your new Blazor Bootstrap - Web App(.NET 8).
    < br />
    < br />
    Interactive render mode: Auto
    < br />
    Interactive location: Global
    < br />
</p>


<div>
    <blazor_ssr_wasm_template.Client.Pages.TestDD />


    <blazor_ssr_wasm_template.Client.Pages.TestTabs />


    <blazor_ssr_wasm_template.Client.Pages.TestCollapse />
</div>


<div class="container">
    <div class="row">

        <QuickLink IconName="Apple" CardText="SomeText" CardLink="https://www.apple.com" />

        <QuickLink IconName="Google" CardText="Google" CardLink="/counter" />

    </div>
</div>

@code {

}