<Card>
    <CardHeader>
        <CardTitle>
            <h3>Employee</h3>
        </CardTitle>
    </CardHeader>
    <CardBody>
        <Tabs>
            <Tab Title="Weather" IsActive="true">
                <Content>
                    <Weather />
                </Content>
            </Tab>
            <Tab Title="Counter">
                <Content>
                    <Counter />
                </Content>
            </Tab>
            <Tab Title="Contact">
                <Content>
                    <p class="mt-2">
                        <b>This is some placeholder content the Contact tab's associated content.</b> Clicking another tab
                        will toggle the visibility of this one for the next.
                    </p>
                    <p class="mt-2">
                        <b>This is some placeholder content the Contact tab's associated content.</b> Clicking another tab
                        will toggle the visibility of this one for the next.
                    </p>
                    <p class="mt-2">
                        <b>This is some placeholder content the Contact tab's associated content.</b> Clicking another tab
                        will toggle the visibility of this one for the next.
                    </p>
                </Content>
            </Tab>
        </Tabs>
    </CardBody>
</Card>
