@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <RadzenApp.Client.Pages.MainLayout /> *@

<div class="container">
    <div class="row">
        <div style="width: 30%;">
            <RadzenApp.Client.Pages.Card Title="Profile" />
        </div>
        <div style="width: 70%;">
            <RadzenApp.Client.Pages.Card Title="Student Card" />
            <RadzenApp.Client.Pages.Card Title="Teacher Card" />
            <RadzenApp.Client.Pages.Card Title="Employee Card" />
            <RadzenApp.Client.Pages.Card Title="Admin Card" />
        </div>
    </div>
</div>


<RadzenApp.Client.Pages.Button />


<RadzenApp.Client.Pages.DropDown />


<RadzenApp.Client.Pages.Table />

<br />
<br />
<br />
<br />
