@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br>
<br>

<p id="jsCounter" role="status">Current JS count: 0</p>
<button class="btn btn-primary" id="btnJSCounter">Click me</button>


<script>
    var counter = 0;

    document.getElementById("btnJSCounter").addEventListener("click", function () {
        console.log("JS Counter clicked");
        counter++;
        console.log("JS Counter: " + counter);
        document.getElementById("jsCounter").innerText = "Current count: " + counter;
    });
</script>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
