@page
@model rebuildingExpress.Pages.PopOutModel
@using rebuildingExpress.Pages
@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}
@{
    ViewData["Title"] = "Pop Out";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Pop Out</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <p>New Tab</p>
            <component type="typeof(rebuildingExpress.Pages.Counter)" render-mode="ServerPrerendered" ></component>
        </div>
    </div>
</body>

</html>
