@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.


This is made by Microsoft and it doesn't support or have docs to handle interactive auto
the issue is that it requires some calls to be made at the route of the page (see link below for details).  However SSR components don't run these component providers and thus don't allow for things like toast messages to work.  yet again, putting us in a position where webassembly is ideal save for the authentication bit for SSO.... :-(


<a href="https://github.com/microsoft/fluentui-blazor#add-component-providers" target="_blank">component provider docs</a>
