@page "/"

<PageTitle>Blazor Bootstrap - Web App (.NET 8) - Starter Template</PageTitle>



@if (MaintenanceMode)
{
    <h1>Maintenance Mode</h1>
    <blazor_ssr_wasm_template.Client.Pages.MaintenancePage />
}
else
{
    <NewHome />
}

@code {
    // technically works, but not sure if this is the best way to do it
    // at least it works as a proof of concept
    private bool MaintenanceMode = true;
}