
<Card Class="@_CardSize">
    <a href="@CardLink" target="_blank">
        <CardBody>
            <Icon Name="@_IconName"></Icon>
            <CardText>@CardText</CardText>
        </CardBody>
    </a>
</Card>

@code {
    [Parameter]
    public string IconName { get; set; }
    [Parameter]
    public string CardText { get; set; }
    [Parameter]
    public string CardLink { get; set; }
    [Parameter]
    public string CardSize { get; set; }
    private BlazorBootstrap.IconName _IconName { get; set; }
    private string _CardSize { get; set; }

    protected override void OnInitialized()
    {
        _IconName = (BlazorBootstrap.IconName)Enum.Parse(typeof(BlazorBootstrap.IconName), IconName);


        if (CardSize == "small")
        {
            _CardSize = "col-sm";
        }
        else if (CardSize == "medium")
        {
            _CardSize = "col-md";
        }
        else if (CardSize == "large")
        {
            _CardSize = "col-lg";
        }
        else if (CardSize == "extra-large")
        {
            _CardSize = "col-xl";
        }
        else
        {
            _CardSize = "col-sm";
        }
    }
}