
<Card Class="col-sm">
    <a href="@CardLink" target="_blank">
        <CardBody>
            <Icon Name="@_IconName"></Icon>
            <CardText>@CardText</CardText>
        </CardBody>
    </a>
</Card>

@code {
    [Parameter]
    public string IconName { get; set; }
    [Parameter]
    public string CardText { get; set; }
    [Parameter]
    public string CardLink { get; set; }
    private BlazorBootstrap.IconName _IconName { get; set; }

    protected override void OnInitialized()
    {
        _IconName = (BlazorBootstrap.IconName)Enum.Parse(typeof(BlazorBootstrap.IconName), IconName);
    }
}