@page "/card"

<RadzenCard class="rz-border-radius-6">
    <h1>@Title</h1>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
    <p>Card Content ....</p>
</RadzenCard>

@code {
    [Parameter]
    public string Title { get; set; }
}