<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/ssomgr"></property>
	</bean-->
	
	<bean id="applicationConfigDao" class="com.ellucian.sso.common.dao.impl.ApplicationConfigDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="udcTicketDao" class="com.ellucian.sso.inb.dao.impl.UdcTicketDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="udcCredentialsDao" class="com.ellucian.sso.inb.dao.impl.UdcCredentialsDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="udcCredentialsInfoDao" class="com.ellucian.sso.inb.dao.impl.UdcCredentialsInfoDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="credentialsServiceFacade"
		class="com.ellucian.sso.inb.ws.facade.impl.CredentialsServiceFacadeImpl">
		<property name="applicationConfigDao" ref="applicationConfigDao"></property>
		<property name="udcTicketDao" ref="udcTicketDao"></property>
		<property name="udcCredentialsDao" ref="udcCredentialsDao"></property>
		<property name="udcCredentialsInfoDao" ref="udcCredentialsInfoDao"></property>
	</bean>
	
	<bean id="ssoTicketServiceFacade"
	 	class="com.ellucian.sso.inb.ws.facade.impl.SSOTicketServiceFacadeImpl">
		<property name="udcTicketDao" ref="udcTicketDao"></property>
		<property name="udcCredentialsDao" ref="udcCredentialsDao"></property>
	</bean>

</beans>
