@page "/Quicklinks"
@rendermode InteractiveAuto

<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="col-12">
                <MudText Typo="Typo.h4">Quicklinks</MudText>
                <div>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleQLShelf">@shelfButtonIcon
                    </MudButton>
                </div>
            </div>
            <div class="row">
                @foreach (var link in lstQuicklinks)
                {
                    <div class="col-sm">
                        <MudCard class="d-flex justify-content-center">
                            <MudCardContent>
                                <MudLink Href="@link.Url" Target="_blank" Color="Color.Primary">@link.Name</MudLink>
                            </MudCardContent>
                        </MudCard>
                    </div>
                }
            </div>
            <div class="row" style=@shelfCSS>
                <div class="col-sm">
                    <h3>Test Content</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    List<Quicklink> lstQuicklinks = new List<Quicklink>();
    string shelfButtonIcon { get; set; } = "locked";
    string shelfCSS { get; set; } = "display: none;";

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("loading quicklinks");

        lstQuicklinks.Add(new Quicklink { Name = "MudBlazor", Url = "https://mudblazor.com/" });
        lstQuicklinks.Add(new Quicklink
            {
                Name = "MudBlazor Docs",
                Url = "https://mudblazor.com/getting-started/installation"
            });
        lstQuicklinks.Add(new Quicklink { Name = "MudBlazor GitHub", Url = "https://github.com/MudBlazor/MudBlazor" });
    }

    public class Quicklink
    {
        public string Name { get; set; }
        public string Url { get; set; }
    }

    public void ToggleQLShelf()
    {
        Console.WriteLine("toggle quicklinks");
        if (shelfButtonIcon == "locked")
        {
            shelfButtonIcon = "unlocked";
            shelfCSS = "display: block;";
        }
        else
        {
            shelfButtonIcon = "locked";
            shelfCSS = "display: none;";
        }

        StateHasChanged();
    }
}