
<p id="pCounter">Current count: <span id="counterNumber">0</span></p>

<button id="btnCounterIcrement">Increment</button>
<button id="btnCounterDecrement">Decrement</button>

<script>
    let count = 0;
    const countElement = document.querySelector('#counterNumber');

    document.getElementById('btnCounterIcrement').addEventListener('click', () => {
        count++;
        countElement.textContent = count;
    });

    document.getElementById('btnCounterDecrement').addEventListener('click', () => {
        count--;
        countElement.textContent = count;
    });
</script>