@page "/"
@page "/index.html"

<PageTitle>Home</PageTitle>


<div class="container">
    <div class="row">
        <div class="col">
            <QuickLinks />
        </div>
    </div>
    <div class="row">
        <div class="col col-sm">
            <Profile />
        </div>
        <div class="col col-lg">
            <EmployeeCard />
            <StudentCard />
        </div>
    </div>
</div>
