@page "/quicklinks"


<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="col-12">
                <h3>Quicklinks</h3>
                <div>
                    <button class="btn btn-primary" id="btnQuickLinkToggleLock">@shelfButtonIcon</button>
                </div>
            </div>
            <div class="row">
                @foreach (var link in lstQuicklinks)
                {
                    <div class="col-sm">
                        <div class="card d-flex justify-content-center">
                            <div class="card-body">
                                <a href="@link.Url">@link.Name</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="QuickLinkShelf" class="row" style="display: none;">
                <div class="col-sm">
                    <h3>Test Content</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnQuickLinkToggleLock").click("click", function () {
        console.log("quicklink button clicked");
        if ($("#btnQuickLinkToggleLock").text() == "locked") {
            $("#btnQuickLinkToggleLock").text("unlocked");
            $("#QuickLinkShelf").slideToggle();
        }
        else {
            $("#btnQuickLinkToggleLock").text("locked");
            $("#QuickLinkShelf").slideToggle();
        }
    });
</script>


@code {
    List<Quicklink> lstQuicklinks = new List<Quicklink>();
    string shelfButtonIcon { get; set; } = "locked";
    
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("loading quicklinks");

        lstQuicklinks.Add(new Quicklink { Name = "MudBlazor", Url = "https://mudblazor.com/" });
        lstQuicklinks.Add(new Quicklink
            {
                Name = "MudBlazor Docs",
                Url = "https://mudblazor.com/getting-started/installation"
            });
        lstQuicklinks.Add(new Quicklink { Name = "MudBlazor GitHub", Url = "https://github.com/MudBlazor/MudBlazor" });
    }

    public class Quicklink
    {
        public string Name { get; set; }
        public string Url { get; set; }
    }
}