@page "/counter"
@inject IJSRuntime JS

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button id="@btnID" class="btn btn-primary" @onclick="JSIncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string btnID = "btnCounter" + Guid.NewGuid().ToString("N");
    private Lazy<IJSObjectReference> _jsmodule = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsmodule = new(await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Counter.razor.js"));
        }
    }

    private async Task JSIncrementCount()
    {
        Console.WriteLine("C# Button ID: " + btnID);
        await _jsmodule.Value.InvokeVoidAsync("ButtonClicked", btnID);

        IncrementCount();
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsmodule.IsValueCreated)
        {
            await _jsmodule.Value.DisposeAsync();
        }
    }
}
