@page "/"
@inject Microsoft.Extensions.Configuration.IConfiguration config

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col card-container">
            <Quicklinks />
        </div>
    </div>
    <div class="row">
        <div class="card-container col-lg-3">
            <div style="padding: 25px 0px 25px 0px;">
                <Profile />
            </div>
        </div>

        <div class="card-container col-lg-9">
            <div style="padding: 25px 0px 25px 0px;">
                <WorkLife />
            </div>
            <div style="padding: 25px 0px 25px 0px;">
                <WorkLife />
            </div>
            <div style="padding: 25px 0px 25px 0px;">
                <WorkLife />
            </div>
            <div style="padding: 25px 0px 25px 0px;">
                <WorkLife />
            </div>
            <div style="padding: 25px 0px 25px 0px;">
                <WorkLife />
            </div>
            <div style="padding: 25px 0px 25px 0px;">
                <WorkLife />
            </div>
        </div>
    </div>
</div>

@code {
    private string _icon = "fab fa-internet-explorer";

    protected override void OnInitialized()
    {
        // I don't think the config is available in the oninit method
        Console.WriteLine(config["Test"]);
    }
}
